<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.volunteer.mapper.AdminInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.volunteer.entity.AdminInfo">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="avatar" property="avatar" />
        <result column="name" property="name" />
        <result column="roles" property="roles" />
        <result column="deleted" property="deleted" />
        <result column="description" property="description" />
    </resultMap>

    <select id="selectByUserName" resultType="com.volunteer.entity.AdminInfo">
        select * from admin_info
        where username=#{username}
    </select>

</mapper>
