<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.volunteer.mapper.UmbrellaMapper">

    <resultMap id="UmbrellaMapper" type="com.volunteer.entity.UmbrellaHistoryBorrow">
        <id column="id" property="id"/>
        <result column="openid" property="openid"/>
        <result column="name" property="name"/>
        <result column="student_id" property="studentId"/>
        <result column="borrow_date" property="borrowDate"/>
        <result column="return_date" property="returnDate"/>
        <result column="borrow_durations" property="borrowDurations"/>
        <result column="borrow_durations" property="borrowStatus"/>
        <result column="borrow_status" property="borrowStatus"/>
    </resultMap>
    <select id="selectHistoryAll" parameterType="int" resultType="com.volunteer.entity.UmbrellaHistoryBorrow">
    SELECT b.id,b.openid as openID,v.name as user_name,v.student_id,b.borrow_date,b.return_date,b.borrow_durations,b.borrow_status
    FROM volunteer v,umbrella_history_borrow b
    WHERE v.openid = b.openid LIMIT #{skip},#{pageSize}
    </select>

    <select id="selectCount" resultType="int">
        SELECT COUNT(openid) FROM umbrella_history_borrow
    </select>

</mapper>
