<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.volunteer.mapper.VolunteerActivityCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.volunteer.entity.VolunteerActivityComment">
        <id column="id" property="id" />
        <result column="volunteer_id" property="volunteerId" />
        <result column="volunteer_activity_id" property="volunteerActivityId" />
        <result column="content" property="content" />
        <result column="deleted" property="deleted" />
        <result column="comment_time" property="commentTime" />
        <result column="thumb_up_number" property="thumbUpNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, volunteer_id, volunteer_activity_id, content, deleted, comment_time, thumb_up_number
    </sql>

</mapper>
